<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name="com.challange.homecards.view.ui.HeartStoneActivity"
            android:exported="true"
            android:label="@string/heart_activity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name="com.challange.homecards.view.ui.DetailsActivity"
            android:parentActivityName=".view.ui.HeartStoneActivity"
            android:label="@string/detail_activity"
            android:exported="true">
        </activity>
    </application>
</manifest>